	/* color:
	font-size:
	border-color:
	border-style:
	font-family:
	border-width:
	border-right:
	border-right-width:
	border-left:
	border-left-width:
	border-top-width:
	background:
	text-shadow:
	border-radius: 
	margin: 
	text-align:
	margin-bottom:
	outline:
	padding: 
	width:
	height:
	transform:translate
	border-align: 
	margin-right:
	I learned background-image from Claudia and transflorm:translate from Young. 
	*/

html {
	color:navy;
	font-size:20px;
	font-family:impact; 
	background-image:url("http://pix.iemoji.com/images/emoji/apple/ios-9/256/smirking-face.png");
	background-position:fixed;
	
}
header{ color: orange;
}

	h1{
	color:orange;
	font-size:40px;
	border-color:#7FFFD4;
	border-style:solid; 
	font-family:Helvetica;
	background:linear-gradient(black,white);
	text-shadow: 2px 2px #000000;
	border-radius: 9px;
	text-align:center;
	box-shadow:10px 10px 5px #888888;
	opacity: 0.8;
	 text-transform: uppercase;


}

	h2{
	color:red;
	font-size:30px;
	border-color:#7FFFD4;
	border-style:dotted;
	font-family:arial;
	border-width:10px;
	border-right:red;
	border-right-width:9px;
	border-left:red;
	border-left-width:9px;
	border-top-width:3px;
	background:linear-gradient(blue,aqua);
	text-shadow:2px 2px black;
	border-radius: 9px;
	margin: 1in 1.5in 1in 2in;
	text-align:center;
	margin-bottom: 2cm;
	outline: #00FF00 dotted thick;
	padding: 5px 5px 5px 5px;
	width:60%;
	height:40%;
	transform:translate(15%,40%);
	border-align: center;
	margin-right: 2cm;
	
	
		
	


}
	p{
	color:#7FFFD4;
	font-size:23px;
	border-color:red;
	border:ridge #FF00FF 10px;
	font-family:impact; 
	font-style: italic;
	text-decoration: underline;
	border:2px solid red;
	border-radius:12px;
	text-shadow: 2px 2px red;
	word-spacing:3px;
	letter-spacing:0.5px;
	text-align:center;
	 
	


}
 






