html{
	background-color:red;
}

h1{ 
	font-family:Impact;
	background:green;
	color:yellow;
	font-style:italic;
	border-bottom:dashed;
	border-bottom-width:5px;
		
}	
h2 {	
	color:blue;
	border-color:yellow;
	padding:10px;
	font-family:"impact"; 
	border-style:dashed;
	font-style:italic;
	padding:
	font-weight:thin;

}
h3{
	font-family: arial;
	

	

